.session-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {

  font-size: 20px;
  padding: 2px;

  margin-bottom: 1px;
  border-radius: 3px;


}

.time-label {
  font-size: 20px;
  padding: 2px;

  margin-bottom: 1px;
  border-radius: 3px;
}

.session-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}