.time {
	height: 100%;
	display: flex;
	flex-direction: column;
	//justify-content: space-evenly;
	align-items: center;
}

.current-time {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.total-time {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.current-time-label {
	margin-top: 0;
	font-size: 50px;
}

.total-time-label {
	font-size: 40px;
}

.time-label {
	margin-top: 0;
	font-size: 50px;
}

@media only screen and (max-width: 1137px) {
	.time-label {
		font-size: 35px;
	}
}

@media only screen and (max-width: 988px) {
	.time-label {
		font-size: 35px;
	}
}

@media only screen and (max-width: 720px) {
	.time-label {
		font-size: 25px;
	}
}

@media only screen and (max-width: 548px) {
	.current-time {
		height: 30vh;
		margin-top: 0;
	}
	.current-time-label {
		font-size: 35px;
	}
	.total-time {
		margin-top: 0;
		height: 20vh;
	}
	.current-time-header {
		font-size: 25px;
	}
	.start-btn {
		margin-top: 10px;
	}
	.total-time-label {
		font-size: 25px;
	}
}

@media only screen and (max-width: 400px) {
	.current-time-label {
		font-size: 35px;
	}

	.current-time-header {
		font-size: 20px;
	}

	.total-time-label {
		font-size: 25px;
	}

	.start-btn {
		width: 1rem;
		height: 2rem;
		margin-top: 10px;
		font-size: 20%;
	}
}
